/* Los estilos de tu proyecto */
.logo {
    margin-right: 8em;
    width:80px;
    height:25px;
  }
.pag1{
  width:100%;
  height:20%;
}
.pag2{
    width:100%;
    height:20%;
}
.pagina2{
    background-color: #f7b617;
}
.contorno{
    border-color: #ffffff;
}